<div class="ContenuCard">
  <div class="modal-header">
    <h2 id="modal-title"><b>{{'Create a new product' | translate}}:</b></h2>
    <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <span style="color:red;margin-top:-105px;font-size:1.1em">(*) {{'Required Field' | translate}}</span><br><br>
  <form [formGroup]="myForm" novalidate>
    <div class="form-row">
      <div class="form-group col-md-12 mb-3">
        <label>{{'Entitled' | translate}}{{'(minimum 3 characters)' | translate}}:<span
            style="color:red;">*</span></label>
        <input type="text" formControlName="intitule" class="form-control" id="intitule" placeholder="produit 1 ..."
          [(ngModel)]="produit.intitule" name="intitule">

        <div *ngIf="intitule?.invalid && intitule?.touched" class="text-danger">
          {{'Invalid title' | translate}} !
        </div>
        <div *ngIf="intitule?.valid && intitule?.touched  && msg1==0" class="text-success">
          {{'Valid title' | translate}}!
        </div>
        <div *ngIf="msg1==1" class="text-danger">
          &nbsp;{{'Title already exists' | translate}} !
        </div>
      </div>
      </div>
      <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="type"> {{'Label' | translate}}{{'(minimum 8 characters)' | translate}}:<span
            style="color:red;">*</span></label>
        <input type="text" class="form-control" id="libelle" placeholder="1a1a1a1a" formControlName="libelle"
          [(ngModel)]="produit.libelle" name="libelle">

        <div *ngIf="libelle?.invalid && libelle?.touched" class="text-danger">
          {{'Invalid label' | translate}}!
        </div>
        <div *ngIf="libelle?.valid && libelle?.touched  && msg2==0" class="text-success">
          {{'Valid label' | translate}}!
        </div>
        <div *ngIf="msg2==1" class="text-danger">
          &nbsp; {{'label already exists' | translate}}!
        </div>

      </div>

    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cgu" formControlName="cgu" required>
        <label class="form-check-label" for="cgu" *ngIf="msg4==1" style="color:red;">{{'p2' | translate}}</label>
        <label class="form-check-label" for="cgu" *ngIf="msg4==0">{{'p2' | translate}}</label>
        <br> <br>
        <span style="color:red;margin-bottom:45px;font-size:1.1em" *ngIf="msg != ''">{{'Please fill in all required
          fields' | translate}}</span>
        <div class="invalid-feedback">{{'p3' | translate}}</div>
      </div>
    </div>
    <button class="btn btn-primary" style="margin:11px" (click)=" onSubmit()" type="submit">{{ "Send" | translate
      }}</button>
    <!-- close popup -->
    <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>

  </form>
</div>