<div class="wrapper" *ngIf="produit">
    <div class="card text-white">
        <div class="bg-pink">

          <!-- <div tyle="margin-left:120px">
            <button type="button" style="margin-left:-420px ;color:white;size:750px;" (click)="closeDetails()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><br> -->

        </div>
        
        <div class="img-container d-flex align-items-center justify-content-center"><h5>Consulter le produit numéro</h5> </div>
        <div class="user">
            <div class="h5 text-center m-0"> {{idP}} </div>
        </div>
        <div class="px-3">
            <div class="d-flex align-items-center justify-content-between py-3 pe-none">
                <div class="details snippets">
                </div>
                <div class="details post">
                </div>
            </div>
            <div class="skills">
                <div class=" head text-uppercase"><h5>Autre Informations :</h5></div>
                <div class=" pb-5 pt-3">
  
                  <div class="text-uppercase fs-08">
                    <span id="titre">Intitulé produit :</span>
                    <span>{{produit.intitule}}</span>
                  </div>
  
                  <div class="text-uppercase fs-08">
                    <span id="titre">Libellé produit :</span>
                    <span>&nbsp;&nbsp;{{produit.libelle}}</span>
                  </div>
                    <div class="text-uppercase fs-08">
                      <span id="titre"> Quantité disponible :</span>
                      <span>{{produit.qte}} lots</span>
                    </div>
                    
                </div>
            </div>
            <br>        <br>     
  
            <div class="details project">
              <div class="head text-uppercase">
                <button id="btn" (click)="closeDetails()"  style="margin-left:115px;" class="btn btn ml-135  btn-rounded waves-effect w-md waves-light">
                  Fermer les détails
                </button>
              </div>
          </div>
  
  
        </div>
    </div>
  </div>
    
    