<div class="container p-30">
  <div class="row">
 
      <div class="col-md-12 main-datatable">
        <div class="card-header card-header-danger" id="title-Table">
          <h3 class="card-title" id="titre">Table pour les tanks</h3><br>
        </div>
          <div class="card_body">
              <div class="row d-flex">
                  <div class="col-sm-4 createSegment"> 
                   <a class="btn dim_button create_new" (click)="onOpenDialogCreate()"> <span class="glyphicon glyphicon-plus"></span><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un element </a>
                  </div>
                  <div class="col-sm-8 add_flex">
                      <div class="form-group searchInput" aria-autocomplete="on" (keyup)="filterData($event)">
                          <label for="email">Recherche:</label>
                          <input type="search"  class="form-control" id="filterbox" matInput placeholder=" ">
                      </div>
                  </div> 
              </div>
              <div class="overflow-x">
                  <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer"  mat-table matSort [dataSource]="dataSource!"  >
                               <thead>
                                   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                               </thead>
                          <tr>
                            <ng-container matColumnDef="idTank" >
                                <th mat-header-cell *matHeaderCellDef  style="min-width:50px;">#ID</th>
                                <td mat-cell *matCellDef="let element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{element.idTank}}</td>
                            </ng-container>
                            <ng-container matColumnDef="matricule" >
                              <th mat-sort-header mat-header-cell *matHeaderCellDef  style="min-width:100px;">matricule tank</th>
                              <td mat-cell *matCellDef="let element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{element.matricule}}</td>
                            </ng-container>
                            <ng-container matColumnDef="poidVide">
                              <th mat-sort-header mat-header-cell *matHeaderCellDef style="min-width:100px;">Poids Vide</th>
                              <td mat-cell *matCellDef="let element" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{element.poidVide}}</td>
                            </ng-container>
                            <ng-container matColumnDef="poidActuel">
                              <th mat-sort-header mat-header-cell *matHeaderCellDef style="min-width:100px;">poids Actuel</th>
                              <td mat-cell *matCellDef="let element" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{element.poidActuel}}</td>
                            </ng-container>

                            <ng-container matColumnDef="etat" >
                              <th mat-sort-header mat-header-cell *matHeaderCellDef style="min-width:100px;">Etat du tank</th>
                              <td mat-cell *matCellDef="let element" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span *ngIf="this.element.etat==='Vide'"  class="mode mode_done" style="font-size: small;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{element.etat}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span *ngIf="this.element.etat==='Remplis'" class="mode mode_on" style="font-size: small;">&nbsp;<b>{{element.etat}}</b>&nbsp;&nbsp;</span>
                                <span *ngIf="this.element.etat==='En cours'"  class="mode mode_process" style="font-size: small;">&nbsp;<b>{{element.etat}}</b>&nbsp;</span></td>
                            </ng-container>
                            
                            <ng-container matColumnDef="action">
                              <th  mat-header-cell *matHeaderCellDef style="min-width:150px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
                              <td mat-cell *matCellDef="let element">
                                  <div class="btn-group"  style="color:#3E8D07;">
                                      <a class="dropdown-toggle dropdown_icon"  style="color:#3E8D07;border: 1px solid #3E8D07;" data-toggle="dropdown">
                                      <i class="fa fa-pencil-square-o fa-lg" style="color:#3E8D07;"></i> </a>
                                      <ul class="dropdown-menu">
                                        <li class="li2">
                                          <a (click)="updateTank(element)" target="_blank">
                                            <i class="fa fa-pencil-square-o fa-lg" style="color:#3E8D07;"> Modifier </i> 
                                          </a>
                                      </li>
                                   
                                      </ul>
                                  </div>
                                  &nbsp;
                                  
                                  <div class="btn-group">
                                      <a class="dropdown-toggle dropdown_icon" style="color:#2399BF;border: 1px solid #2399BF" data-toggle="dropdown"> 
                                          <i class="fa fa-info-circle fa-lg" ></i>
                                      </a>
                                      <ul class="dropdown-menu dropdown_more">
                                          <li class="li">
                                              <a (click)="detailsTank(element)"target="_black">
                                                <i class="fa fa-info-circle fa-lg" >  plus de details  </i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                                  &nbsp;

                                  <div class="btn-group">
                                    <a class="dropdown-toggle dropdown_icon"style="color:#D41616;border: 1px solid #D41616"  data-toggle="dropdown"> 
                                      <i class="fa fa-trash fa-lg" style="color:#D41616;"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown_more">
                                        <li class="li1">
                                         
                                    <a (click)="deleteTank(element.idTank)"> <i class="fa fa-trash fa-lg" style="color:#D41616;">&nbsp; <b>Supprimer</b></i></a>
                                  </li>
                                </ul>
                            </div>

                              </td>
                            </ng-container>
                            <tbody>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </tbody>
                  </table>
                  <mat-paginator #paginator
                    [pageSize]="5"
                    [pageSizeOptions]="[ 2, 3, 4, 5, 10, 25, 100]">
                  </mat-paginator>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="toast {{ShowToast}}" id="ToastDiv">
<div id={{idTitle}} class="toast-header">
<strong class="mr-auto">
  <span class="mr-3">
  <i *ngIf="Toast[0] == 'Success'" class="fas fa-check"></i>
  <i *ngIf="Toast[0] == 'Failed'" class="fas fa-exclamation-triangle"></i>
</span>
  {{Toast[0]}}</strong>
<small style="color: gray;">
  {{counter}} second ago</small>
</div>
<div id={{idContenu}} class="toast-body">
{{Toast[1]}}
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
<script src="js/main.js">
$(document).ready(function() {
var dataTable = $('#filtertable').DataTable({
  "pageLength":5,
  'aoColumnDefs':[{
      'bSortable':false,
      'aTargets':['nosort'],
  }],
  columnDefs:[
      {type:'date-dd-mm-yyyy',aTargets:[5]}
  ],
  "aoColumns":[
      null,
      null,
      null,
      null,
      null,
      null,
      null
  ],
  "order":false,
  "bLengthChange":false,
  "dom":'<"top">ct<"top"p><"clear">'
});
$("#filterbox").keyup(function(){
  dataTable.search(this.value).draw();
});
} );
</script>
