
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">





<div class="main-content">
  <div id="btnAddSearch">
      <div>
        <div  class="search-container">
          <mat-form-field id="formSearch" appearance="fill" aria-autocomplete="off" (keyup)="filterData($event)">
          <div id="search">
                <div><input id="inputSearch" matInput placeholder="Bon Search"/></div>
                <div><span class='material-icons'>search</span></div>
          </div>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-left:400px;">
        <button class="btn btn" id="btn" (click)="onOpenDialogCreate()">
          <i class="fas fa-plus"></i>
          Ajouter un element
        </button>
      </div>

  </div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-12" id="card-Table">
    <div class="card">
      <div class="card-header card-header-danger" id="title-Table">
        <h3 class="card-title" id="titre">Table pour les tanks</h3><br>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table matSort [dataSource]="dataSource!" class="table">
            <ng-container matColumnDef="idTank">
              <!-- <th  mat-header-cell *matHeaderCellDef hidden> id Employee </th> -->
              <th  mat-header-cell *matHeaderCellDef >#Id</th>
              <td mat-cell *matCellDef="let element"> &nbsp;&nbsp; &nbsp;{{element.idTank}} </td>
            </ng-container>
            <ng-container matColumnDef="matricule">
              <th mat-sort-header mat-header-cell *matHeaderCellDef > &nbsp;Matricule</th>
              <td mat-cell *matCellDef="let element">{{element.matricule}}</td>
            </ng-container>

           <ng-container matColumnDef="poidVide">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Poids vide</th>
              <td mat-cell *matCellDef="let element" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{element.poidVide}}</td>
            </ng-container>

            <ng-container matColumnDef="poidActuel">
              <th mat-sort-header mat-header-cell *matHeaderCellDef >&nbsp;&nbsp;&nbsp; Poids actuel</th>
              <td id="alignement" mat-cell *matCellDef="let element" >{{element.poidActuel}}</td>
            </ng-container>

             <ng-container matColumnDef="etat">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Etat </th>
              <td id="alignement"mat-cell *matCellDef="let element"> {{element.etat}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Action</th>
            <td mat-cell *matCellDef="let element">
              <a (click)="updateTank(element)"  class="btn btn-success" style="margin-right:15px;margin-bottom:15px;">
                <i class="fas fa-edit"></i>
            </a>

            <a  (click)="detailsTank(element)" class="btn  btn-secondary" style="margin-right:15px;margin-bottom:15px;">
              <i class="fas fa-info"></i>
            </a>

            <a (click)="deleteTank(element.idTank)" class="btn  btn-danger" style="margin-right:15px;margin-bottom:15px">
              <!-- (click)="deleteEmployee(element.idUser)" -->
            <i class="far fa-trash-alt"></i>
        </a>
            </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

           </table>
           <mat-paginator #paginator
                          [pageSize]="4"
                          [pageSizeOptions]="[2, 3,4, 5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<div class="toast {{ShowToast}}" id="ToastDiv">
<div id={{idTitle}} class="toast-header">
<strong class="mr-auto">
  <span class="mr-3">
  <i *ngIf="Toast[0] == 'Success'" class="fas fa-check"></i>
  <i *ngIf="Toast[0] == 'Failed'" class="fas fa-exclamation-triangle"></i>
</span>
  {{Toast[0]}}</strong>
<small style="color: gray;">
  {{counter}} second ago</small>
</div>
<div id={{idContenu}} class="toast-body">
{{Toast[1]}}
</div>
</div>

