<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 " style="position: fixed !important;">

    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="assets/image_usine.png" alt="RMS Logo" class="image-responsive img-circle elevation-1" style="margin-left: -10px">
      <span class="brand-text font-weight-light" style="color: white;margin:10px">Usine Application</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info" style="margin-left:10px" >
        <!-- <i style="color:red;" class="fas fa-heart fa-lg fa-spin"></i>& -->
        <a  class="d-block" style="margin-left:2px;color:white; font-weight: bold;" >  <img style="padding-left:-55px;width:40px;height:40px;" src="../../assets/person.png" alt="cccccccc">&nbsp; Bienvenu(e) {{authService.loggedUser}}</a>
      </div>
    </div>

      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a routerLink="./dashboard" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-chart-area"></i>
              <!-- <i class="fas fa-chart-area"></i> -->
              <p>DashBoard</p>
            </a>
          </li>

          <li  class="nav-item">
            <a routerLink="./centreCollecte/listeCentreCollecte" routerLinkActive="active" class="nav-link">
              <!-- <i class="nav-icon fas fa-list"></i> -->
              <i class="nav-icon fas fa-clinic-medical"></i>
              <p>Gestion des centres
              </p>
            </a>
          </li>

          <!-- Partie Job Offers lel Admin w recruteur -->
          <li class="nav-item">
            <a routerLink="magasin/listeMagasin" routerLinkActive="active" class="nav-link">
              <!-- <i class="nav-icon fas fa-shopping"></i> -->
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>Gestion des magasins</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="produit/listeProduit" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fab fa-product-hunt"></i>
              <p>Gestion des produits</p>
            </a>
          </li>

          <!-- Partie Condidates List lel Recruteur wel admin -->
          <li class="nav-item">
            <a routerLink="tank/listeTank" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-bitbucket"></i>
              <p>Gestion des tanks</p>
            </a>
          </li>

          <li class="nav-item">
            <a  routerLink="operation/listeOperation" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>Gestion des operations  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de remplissage</p>
            </a>
          </li>


          <li class="nav-item">
            <a routerLink="operation/listeOperationT" routerLinkActive="active" class="nav-link" >
              <i class="nav-icon fas fa-exchange-alt"></i>
              <p>Transfert lait/produit</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="operation/listeOperationRetrait" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-minus"></i>
              <p>Gestion des operations &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de retrait</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="operation/listeOperationTank" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-id-card-o"></i>
              <p>Gestion des operations &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sur les tanks </p>
            </a>
          </li>

          <!-- <li class="nav-header">Schedule</li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


