<!-- <div class="ContenuCard"  >
    <div class="modal-header">
        <h1 id="modal-title"><small>Details pour le tank numero:{{idT}} </small></h1>
  <div>
    <button type="button" style="margin-left:230px ;size:450px;" (click)="closeDetails()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><br>
    
  </div>
  <br>
  <div *ngIf="tank">

    <div class="form-group text-center">
      <label>Matricule tank :</label> 
      <span id="interviewDate">  {{tank.matricule}} </span>
    </div>
  
  <div class="form-group text-center">
    <label>poid Vide :</label> 
    <span id="interviewDate">  {{tank.poidVide}} </span>
  </div>
  
  
  <div class="form-group text-center">
    <label>poid Actuel :</label> {{tank.poidActuel}}
  </div>

  <div class="form-group text-center">
    <label>Etat :</label> {{tank.etat}}
  </div>

  </div>			
  <div style="text-align: center;">
    <button (click)="closeDetails()" class="btn btn-success">{{'Close details' | translate }}</button>
  </div>
  </div> -->






  <div class="wrapper" *ngIf="tank">
    <div class="card text-white">
        <div class="bg-pink"></div>
        <div class="img-container d-flex align-items-center justify-content-center"><h5>{{'Consult tank number' | translate}}</h5> </div>
        <div class="user">
            <div class="h5 text-center m-0"> {{idT}} </div>
        </div>
        <div class="px-3">
            <div class="d-flex align-items-center justify-content-between py-3 pe-none">
                <div class="details snippets">
                </div>
                <div class="details post">
                </div>
            </div>
            <div class="skills">
                <div class=" head text-uppercase"><h5>{{'Other Information' | translate}} :</h5></div>
                <div class=" pb-5 pt-3">
  
                  <div class="text-uppercase fs-08">
                    <span id="titre"> {{'Registration number' | translate}} : </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{tank.matricule}}</span>
                  </div>
  
                  <div class="text-uppercase fs-08">
                    <span id="titre"> {{'tank status' | translate}} :</span>
                    <span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tank.etat}}</span>
                  </div>

                  <div class="text-uppercase fs-08">
                    <span id="titre">{{'Maximum capacity' | translate}} : </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{tank.poidVide}} Kg </span>
                  </div>

                  <div class="text-uppercase fs-08">
                    <span id="titre"> {{'Amount of milk inserted' | translate}} : </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{tank.poidActuel}} Kg </span>
                  </div>    

  
  
                </div>
            </div>
            <br>      <br>      <br>     
  
            <div class="details project">
              <div class="head text-uppercase">
                <button id="btn" (click)="closeDetails()"  style="margin-left:115px;" class="btn btn ml-135  btn-rounded waves-effect w-md waves-light">
                  {{'Close details' | translate}}
                </button>
              </div>
          </div>
  
  
        </div>
    </div>
  </div>
  
  