<div class="ContenuCard">
  <div class="modal-header">
    <h4 id="modal-title"><b> {{'Create a fill operation' | translate}}:</b></h4>
    <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <span style="color:red;margin-top:-105px;font-size:1.1em">(*) {{'Required Field' | translate}}</span><br><br>
  <form [formGroup]="myForm" novalidate>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label>{{'Quantity of milk (minimum 1Kg)' | translate}}: <span style="color:red;">*</span></label>
        <input type="number" formControlName="poidsLait" class="form-control" placeholder="exp : 5 kg .. "
          id="poidsLait" name="poidsLait">

        <div *ngIf="poidsLait?.invalid && poidsLait?.touched" class="text-danger">
          {{ "Invalid quantity" | translate }} !
        </div>
        <div *ngIf="poidsLait?.valid && poidsLait?.touched && msgErreur==0" class="text-success">
          {{ "Valid quantity" | translate }}!
        </div>

        <div *ngIf="msgErreur==1" class="text-danger">
          {{ "pp" | translate }}: {{qteRsetLait}} !!
        </div>
  

      </div>




    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label class="mr-sm-5" for="inlineFormCustomSelect"> {{ "collection center" | translate }}: <span
            style="color:red;">*</span></label>
        <select formControlName="centreCollecte" name="centreCollecte" class="custom-select mr-sm-2"
          id="centreCollecte">
          <option disabled selected value [ngValue]="null">{{ "Choose a collection center" | translate }}...</option>
          <option *ngFor="let centreCollecte of centres | async" [value]="centreCollecte.idCentre">
            {{centreCollecte.nomCentre}}</option>
        </select>
        <div *ngIf="centreCollecte?.invalid && centreCollecte?.touched" class="text-danger">
          {{ "Invalid center choice" | translate }}!
        </div>
        <div *ngIf="centreCollecte?.valid && centreCollecte?.touched" class="text-success">
          {{ "Valid center choice" | translate }}!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 mb-3">
        <label>Code : <span style="color:red;">*</span></label>
        <input type="number" formControlName="code" class="form-control" id="code" placeholder="111111 .. " name="code">

        <div *ngIf="code?.invalid && code?.touched" class="text-danger">
          {{ "Invalid code" | translate }}!
        </div>
        <div *ngIf="code?.valid && code?.touched  && msg1==0 && msg2==''" class="text-success">
          {{ "valid code" | translate }}!
        </div>
        <div *ngIf="msg1==1 || msg2=='code deja exist'" class="text-danger">
          &nbsp;{{ "Code already exists" | translate }} !
        </div>
        <div *ngIf="msg7==0 || msg6==0 || msg5==0" class="text-danger">
          {{'codes' | translate}} !!
        </div>

      </div>
    </div>
    <br>


    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cgu" formControlName="cgu" required>
        <label class="form-check-label" for="cgu" *ngIf="msg4==1" style="color:red;">{{'p2' | translate}}</label>
        <label class="form-check-label" for="cgu" *ngIf="msg4==0" >{{'p2' | translate}}</label>
        <br>
        <span style="color:red;margin-bottom:45px;font-size:1.1em" *ngIf="msg != ''">{{'Please fill in all required
          fields' | translate}}</span>
        <div class="invalid-feedback">{{ "p3" | translate }}</div>
      </div>
    </div>
    <button class="btn btn-primary" style="margin:20px" (click)="onSubmit()" type="submit">{{ "Send" | translate
      }}</button>
    <!-- close popup -->
    <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{ "Close" | translate }}</button>
  </form>
</div>