<div class="ContenuCard" >
    <div class="modal-header">
      <h4 id="modal-title"><b>Creer une operation de remplissage :</b></h4>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;">(*) champ obligatoire</span><br><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Poids Lait : <span style="color:red;">*</span></label>
                <input type="number"
                 formControlName="poidsLait"
                 class="form-control"
                 id="poidsLait"
                 name="poidsLait">
  
                <div *ngIf="poidsLait?.invalid && poidsLait?.touched && msgErreur==1" class="text-danger">
                  Poids invalide !
                </div>
                <div *ngIf="poidsLait?.valid && poidsLait?.touched && msgErreur==0"  class="text-success">
                  Poids valide!
                </div>
                <div *ngIf="msgErreur==1" class="text-danger">
                  Vous ne pouvez pas inserer cette quantite dans les tanks ,car la quantite disponible que tu peut l'inserer est : {{qteRsetLait}} !!
                </div>
  
              </div>
  
  
              <div class="col-md-6 mb-3">
                <label class="mr-sm-5" for="inlineFormCustomSelect">centre Collecte : <span style="color:red;">*</span></label>
                <select formControlName="centreCollecte" name="centreCollecte"  class="custom-select mr-sm-2" id="centreCollecte" >
                  <option disabled selected value [ngValue]="null">Choisir un centreCollecte...</option>
                  <option *ngFor="let centreCollecte of centres | async" [value]="centreCollecte.idCentre">{{centreCollecte.nomCentre}}</option>
                </select>
                <div
                *ngIf="centreCollecte?.invalid && centreCollecte?.touched"
                 class="text-danger">
                    invalide centreCollecte!
             </div>
               <div
               *ngIf="centreCollecte?.valid && centreCollecte?.touched"
               class="text-success">
               centreCollecte valide!
             </div>
              </div>
  
       </div>
  
       <div class="form-group col-md-12 mb-3">
        <label>Code : <span style="color:red;">*</span></label>
        <input type="text"
         formControlName="code"
         class="form-control"
         id="code"
         name="code">
  
        <div *ngIf="code?.invalid && code?.touched" class="text-danger">
          code invalide !
        </div>
        <div *ngIf="code?.valid && code?.touched " class="text-success">
          code valide!
        </div>
  
      </div>
  <br>
  
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cgu" required>
                <label class="form-check-label" for="cgu">J'accepte les conditions générales d'utilisation</label>
                <br>
                <span style="color:red;margin-bottom:45px;">{{msg}}</span>
                <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
              </div>
            </div>
            <button class="btn btn-primary" style="margin:20px" (click)="onSubmit()"  type="submit">Envoyer</button>
            <!-- close popup -->
            <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </form>
        </div>
  
  