<div class="ContenuCard" >
    <div class="modal-header">
      <h3 id="modal-title"><b>{{'Create a withdrawal transaction' | translate}} :</b></h3>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;font-size:1.1em">(*) {{'Required Field' | translate}}</span><br><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">

                <label>{{'Quantity' | translate}} (minimum 5 Lots): <span style="color:red;">*</span> </label>
                
                <input type="number"
                 formControlName="qtePrise"
                 class="form-control"
                 id="qtePrise"
                 placeholder="exp : 5 Lots .."
                 name="qtePrise">
    
                 <div *ngIf="qtePrise?.invalid && qtePrise?.touched || msgErreur==1" class="text-danger">
                  {{'Invalid quantity' | translate}} !
              </div>
              <div *ngIf="qtePrise?.valid && qtePrise?.touched && msgErreur==0"  class="text-success">
                {{'Valid quantity' | translate}}!
              </div>
    
              </div>


              <div class="col-md-6 mb-3">
               
                <label class="mr-sm-5" for="inlineFormCustomSelect">  {{'Products' | translate}}: <span style="color:red;">*</span></label>
                <select formControlName="produit" name="produit"  class="custom-select mr-sm-2" id="produit" >
                  <option disabled selected value [ngValue]="null"> {{'Choose a product' | translate}}...</option>
                  <option *ngFor="let produit of produits | async" [value]="produit.idProduit">{{produit.intitule}}</option>
                </select>
                <div
                *ngIf="produit?.invalid && produit?.touched"
                 class="text-danger">
                    {{ "invalid Product" | translate }}!
             </div>
               <div
               *ngIf="produit?.valid && produit?.touched"
               class="text-success">
               {{ "Valid product" | translate }}!
             </div>
              </div>
            </div>

              <div class="form-row">
              <div class="form-group col-md-12 mb-3">


                <label class="mr-sm-5" for="inlineFormCustomSelect"> {{'Store' | translate}} : <span style="color:red;">*</span></label>
                <select formControlName="magasin" name="magasin"  class="custom-select mr-sm-2" id="magasin" >
                  <option disabled selected value [ngValue]="null">{{'Choose a store' | translate}}...</option>
                  <option *ngFor="let magasin of magasins | async" [value]="magasin.idMag">{{magasin.nomMag}} - {{magasin.adresse}} - {{magasin.ville}}</option>
                </select>
                <div
                *ngIf="magasin?.invalid && magasin?.touched"
                 class="text-danger">
                     {{'Invalid store' | translate}}!
             </div>
               <div
               *ngIf="magasin?.valid && magasin?.touched"
               class="text-success">
                {{'Valid store' | translate}}!
             </div>



              </div>
      

              &nbsp;&nbsp;  <h5 style="color:blue">   {{'Here is the delivery code' | translate}}:<strong><i> {{som}} </i> </strong> </h5><br><br>

            </div>

            <div *ngIf="msgErreur==1" class="text-danger">
               {{'ppp' | translate}}: {{qteMax}} !
              <br>{{'"You must enter a quantity less than or equal to"' | translate}} {{qteMax}} .
            </div> <br>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""  formControlName="cgu" id="cgu" required>
                <label class="form-check-label" for="cgu" *ngIf="msg4==1" style="color:red;">{{'p2' | translate}}</label>
                <label class="form-check-label" for="cgu" *ngIf="msg4==0" >{{'p2' | translate}}</label>
                <br>
                <span style="color:red;margin-bottom:45px;font-size:1.1em"*ngIf="msg != ''">{{'Please fill in all required fields' | translate}}</span>
                <div class="invalid-feedback">{{ "p3" | translate }}</div>
              </div>
            </div>
            <button class="btn btn-primary" style="margin:20px" (click)="onSubmit()"  type="submit">{{ "Send" | translate }}</button>
            <!-- close popup -->
            <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{ "Close" | translate }}</button>
          </form>
        </div>
    
    