<div class="ContenuCard" >
    <div class="modal-header">
      <h3 id="modal-title"><b>Creer une operation de retrait :</b></h3>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">

                <label>Poids Lait : <span style="color:red;">*</span> </label>
                <input type="number"
                 formControlName="qtePrise"
                 class="form-control"
                 id="qtePrise"
                 name="qtePrise">
    
                 <div *ngIf="qtePrise?.invalid && qtePrise?.touched && msgErreur==1" class="text-danger">
                Poids invalide !
              </div>
              <div *ngIf="qtePrise?.valid && qtePrise?.touched && msgErreur==0"  class="text-success">
                Poids valide!
              </div>
                <!-- <div *ngIf="msgErreur==1" class="text-danger">
                  Vous ne pouvez pas prendre cette quantité !! car la quantité de lait disponible est: {{qteMax}} !
                  <br> Vous devez introduire une quantite moins ou egale a {{qteMax}} .
                </div> -->
    
              </div>


              <div class="col-md-6 mb-3">
                <label class="mr-sm-5" for="inlineFormCustomSelect">Magasin : <span style="color:red;">*</span></label>
                <select formControlName="magasin" name="magasin"  class="custom-select mr-sm-2" id="magasin" >
                  <option disabled selected value [ngValue]="null">Choisir un magasin...</option>
                  <option *ngFor="let magasin of magasins | async" [value]="magasin.idMag">{{magasin.nomMag}}</option>
                </select>
                <div
                *ngIf="magasin?.invalid && magasin?.touched"
                 class="text-danger">
                    invalide magasin!
             </div>
               <div
               *ngIf="magasin?.valid && magasin?.touched"
               class="text-success">
               magasin valide!
             </div>
              </div>
            </div>

              <div class="form-row">
              <div class="form-group col-md-12 mb-3">
                <label class="mr-sm-5" for="inlineFormCustomSelect">   lots : <span style="color:red;">*</span></label>
                <select formControlName="lot" name="lot"  class="custom-select mr-sm-2" id="lot" >
                  <option disabled selected value [ngValue]="null">Choisir un lot...</option>
                  <option *ngFor="let lot of lots | async" [value]="lot.idL">{{lot.idL}}</option>
                </select>
                <div
                *ngIf="lot?.invalid && lot?.touched"
                 class="text-danger">
                    invalide lot!
             </div>
               <div
               *ngIf="lot?.valid && lot?.touched"
               class="text-success">
               lot valide!
             </div>
              </div>
      

              &nbsp;&nbsp;  <h5 style="color:blue">Voici le code de la livraison  :<strong><i> {{som}} </i> </strong> </h5><br><br>

            </div>
  
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cgu" required>
                <label class="form-check-label" for="cgu">J'accepte les conditions générales d'utilisation</label>
                <br>
                <span style="color:red;margin-bottom:45px;">{{msg}}</span>
                <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
              </div>
            </div>
            <button class="btn btn-primary" style="margin:20px" (click)="onSubmit()"  type="submit">Envoyer</button>
            <!-- close popup -->
            <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </form>
        </div>
    
    