<div class="ContenuCard" >
  <div class="modal-header">
    <h3 id="modal-title"><b>Modifier le tank numéro : {{tank.idTank}}</b></h3>
    <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <span style="color:red;margin-top:-105px;font-size:1.1em">(*) champ obligatoire</span><br><br>
  <form [formGroup]="myForm" class="needs-validation" novalidate>
    <div class="form-group">
      <label>Contenance maximale (minimum 500 kg) : <span style="color:red;">*</span></label>
      <input type="text"
             class="form-control"
             formControlName="poidVide"
             name="poidVide"
             [(ngModel)]="tank.poidVide"
             placeholder="Post Name here ..">
        <div
             *ngIf="poidVide?.invalid && poidVide?.touched"
              class="text-danger">
              Contenance maximale invalide !
       </div>
       <div
            *ngIf="poidVide?.valid && poidVide?.touched"
            class="text-success">
            Contenance maximale valide !
       </div>
    </div>

    <div class="lg mb-3">
      <label>Matricule (minimum 8 caractéres) : <span style="color:red;">*</span></label>
      <input class="form-control"
                placeholder="Description Post here ...."
                name="matricule"
                formControlName="matricule"
                [(ngModel)]="tank.matricule"
                >
          <div
                *ngIf="matricule?.invalid && matricule?.touched"
                 class="text-danger">
                 Matricule invalide !
          </div>
          <div
               *ngIf="matricule?.valid && matricule?.touched"
               class="text-success">
               Matricule  valide !
          </div>
    </div>


    <div class="modal-footer">
      <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      <button type="submit" (click)="updateTank()" [disabled]="myForm.invalid" class="btn btn-primary">Enregistrer </button>
    </div>
  </form>

</div>
