<div class="ContenuCard" >
    <div class="modal-header">
      <h2 id="modal-title"><b>{{ "Add a new center" | translate }}:</b></h2>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;font-size:1.1em">(*) {{'Required Field' | translate}}</span><br><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label>{{'Center name (minimum 4 characters)' | translate}}:<span style="color:red;">*</span></label>
                <input type="text"
                 formControlName="nomCentre"
                 class="form-control"
                 placeholder="centre numéro 1 ..."
                 id="nomCentre"
                 name="nomCentre">

                <div *ngIf="nomCentre?.invalid && nomCentre?.touched" class="text-danger">
                  {{'Invalid center name' | translate}} !
                </div>
                <div *ngIf="nomCentre?.valid && nomCentre?.touched && msg1==0 " class="text-success">
                  {{'Valid center name' | translate}}!
                </div>
                
                <div *ngIf="msg1==1"  class="text-danger">
                  &nbsp;{{'Center name already exists' | translate}} !
                </div>

              </div>


            <!-- <div class="form-row"> -->

              <div class="col-md-6 mb-3">
                  <label for="prix">{{'Address (minimum 4 characters)' | translate}}: <span style="color:red;">*</span></label>
                  <input type="text"
                  class="form-control"
                    id="adresse"
                    placeholder="Tunis .."
                    formControlName="adresse"
                    name="adresse">

                    <div *ngIf="adresse?.invalid && adresse?.touched" class="text-danger">
                      {{'Invalid address' | translate}}!
                    </div>
                    <div *ngIf="adresse?.valid && adresse?.touched" class="text-success">
                      {{'Valid address' | translate}}
                    </div>

              </div>
              
            </div>

            <div class="form-row">

            
            <div class="col-md-12 mb-3">
              <label for="prix">{{ "City (minimum 4 characters)" | translate }}: <span style="color:red;">*</span></label>
              <input type="text"
              class="form-control"
                id="ville"
                placeholder="Tunis .."
                formControlName="ville"
                name="ville">

                <div *ngIf="ville?.invalid && ville?.touched" class="text-danger">
                  {{ "Invalid city" | translate }}!
                </div>
                <div *ngIf="ville?.valid && ville?.touched" class="text-success">
                 {{ "Valid City" | translate }}
                </div>

          </div>

          
          <div class="col-md-12 mb-3">
            <label for="prix">{{'Phone number (8 digits)' | translate}}: <span style="color:red;">*</span></label>
            <input type="number"
            class="form-control"
              id="tel"
              formControlName="tel"
              placeholder="12345678"
              name="tel">
              <div *ngIf="tel?.invalid && tel?.touched " class="text-danger">
                {{'Invalid phone number' | translate}}!
              </div>
              <div *ngIf="tel?.valid && tel?.touched && msg2==0" class="text-success">
                {{'Valid phone number' | translate}}
              </div>
              <div *ngIf="msg2==1" class="text-danger">
                {{'Phone number already exists' | translate}}!
              </div>
        </div>

        </div>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cgu" required>
                <label class="form-check-label" for="cgu">{{ "p2" | translate }}</label>
                <br>
                <span style="color:red;margin-bottom:45px;font-size:1.1em"*ngIf="msg != ''">{{'Please fill in all required fields' | translate}}</span>
                <div class="invalid-feedback">{{ "p3" | translate }}</div>
              </div>
            </div>
            <button class="btn btn-primary" style="margin:11px" (click)=" onSubmit()"  type="submit">{{ "Send" | translate }}</button>
            <!-- close popup -->
            <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'| translate }}</button>

          </form>
        </div>

