<div class="ContenuCard" >
    <div class="modal-header">
      <h3 id="modal-title"><b>{{'Change store number' | translate}}: {{magasin.idMag}}</b></h3>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;font-size:1.1em">(*) {{'Required Field' | translate}}</span><br><br>
    <form [formGroup]="myForm" class="needs-validation" novalidate>

      <div class="form-group">
        <div class="col-md-12 mb-3">
          <label> {{'Store name (minimum 3 characters)' | translate}}:<span style="color:red;">*</span></label>
        <input type="text"
               class="form-control"
               formControlName="nomMag"
               name="nomMag"
               [(ngModel)]="magasin.nomMag"
               placeholder="Post Name here ..">
          <div
               *ngIf="nomMag?.invalid && nomMag?.touched"
                class="text-danger">
                {{ "Invalid store name" | translate }}  !
         </div>
         <div
              *ngIf="nomMag?.valid && nomMag?.touched"
              class="text-success">
              {{ "Valid store name" | translate }}  !
         </div>
        </div>


          <div class="col-md-12 mb-3">
            <label>{{ "Address (minimum 4 characters)" | translate }} :<span style="color:red;">*</span></label>
            <input type="text"
                   class="form-control"
                   formControlName="adresse"
                   name="adresse"
                   [(ngModel)]="magasin.adresse"
                   placeholder="Post Name here ..">
              <div
                   *ngIf="adresse?.invalid && adresse?.touched"
                    class="text-danger">
                    {{ "Invalid address" | translate }} !
             </div>
             <div
                  *ngIf="adresse?.valid && adresse?.touched"
                  class="text-success">
                  {{ "Valid address" | translate }} !
             </div>
            </div>

    </div>

    
    <div class="form-group">

    <div class="col-md-12 mb-3">
      <label>{{ "City (minimum 4 characters)" | translate }} :<span style="color:red;">*</span></label>
      <input type="text"
             class="form-control"
             formControlName="ville"
             name="ville"
             [(ngModel)]="magasin.ville"
             placeholder="Post Name here ..">
        <div
             *ngIf="ville?.invalid && ville?.touched"
              class="text-danger">
              {{ "Invalid city" | translate }} !
       </div>
       <div
            *ngIf="ville?.valid && ville?.touched"
            class="text-success">
            {{ "Valid City" | translate }} !
       </div>
          

      </div>

      <div class="col-md-12 mb-3">
        <label>{{ "Phone number (8 digits)" | translate }} : <span style="color:red;">*</span></label>
        <input type="number"
               class="form-control"
               formControlName="tel"
               name="tel"
               [(ngModel)]="magasin.tel"
               placeholder="Post Name here ..">
          <div
               *ngIf="tel?.invalid && tel?.touched"
                class="text-danger">
                {{ "Invalid phone number" | translate }} !
         </div>
         <div
              *ngIf="tel?.valid && tel?.touched"
              class="text-success">
              {{ "Valid phone number" | translate }} !
         </div>
        </div>
        
    </div>

      <div class="modal-footer">
        <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{ "Close" | translate }}</button>
        <button type="submit" (click)="updateMagasin()" [disabled]="myForm.invalid" class="btn btn-primary">{{'Save' | translate}} </button>
      </div>
    </form>

  </div>
