<div class="ContenuCard" >
  <div class="modal-header">
    <h2 id="modal-title"><b>{{'Add a new tank' | translate}} :</b></h2>
    <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <span style="color:red;margin-top:-105px;font-size:1.1em">(*) {{'Required Field' | translate}}</span><br><br>
        <form [formGroup]="myForm"  novalidate >
          <div class="form-row">

            <div class="form-group col-md-6 mb-3">
              <label>{{'Registration number' | translate}} :  <span style="color:red;">*</span></label>
              <p>{{'(minimum 8 characters)' | translate}}</p>
              <input type="text"
               formControlName="matricule"
               class="form-control"
               placeholder="1a1a1a1a ..."
               id="matricule"
               [(ngModel)]="tank.matricule"
               name="matricule">
  
              <div *ngIf="matricule?.invalid && matricule?.touched " class="text-danger">
                {{'Invalid registration number' | translate}} !
              </div>
              <div *ngIf="matricule?.valid && matricule?.touched && msg1==0" class="text-success">
                {{'Valid registration number' | translate}}!
              </div>
              <div *ngIf="msg1==1"  class="text-danger">
                {{'Registration number already exists' | translate}} !
              </div>
  
            </div>


            <div class="form-group col-md-6 mb-3">
              <label>{{'Maximum capacity' | translate}} : <span style="color:red;">*</span></label>
              <p>(minimum 500 kg)</p>
              <input type="number"
               formControlName="poidVide"
               class="form-control"
               placeholder="500 Kg ..."
               id="poidVide"
               [(ngModel)]="tank.poidVide"
               name="poidVide">
  
              <div *ngIf="poidVide?.invalid && poidVide?.touched" class="text-danger">
                {{'Invalid maximum capacity' | translate}} !
              </div>
              <div *ngIf="poidVide?.valid && poidVide?.touched" class="text-success">
                {{'Maximum valid capacity' | translate}} !
              </div>
  
            </div>

            <!-- <div class="form-group col-md-12 mb-3">
              <label>Poid Actuel: </label>
              <input type="text"
               formControlName="poidActuel"
               class="form-control"
               id="poidActuel"
               [(ngModel)]="tank.poidActuel"
               name="poidActuel">
  
              <div *ngIf="poidActuel?.invalid && poidActuel?.touched" class="text-danger">
                Poid Actuel invalide !
              </div>
              <div *ngIf="poidActuel?.valid && poidActuel?.touched" class="text-success">
               Poid Actuel valide!
              </div>
  
            </div> -->

            <!-- <div class="form-group col-md-12 mb-3">
              <label>Etat : </label>
              <input type="text"
               formControlName="poidActuel"
               class="form-control"
               id="etat"
               [(ngModel)]="tank.etat"
               name="etat">
  
              <div *ngIf="etat?.invalid && etat?.touched" class="text-danger">
                Etat invalide !
              </div>
              <div *ngIf="etat?.valid && etat?.touched" class="text-success">
               Etat valide!
              </div>
  
            </div> -->




            <!-- <div class="col-md-12 mb-3">
              <label for="pseudo"> Etat tank</label>
                  <select type="text" class="form-select" id="etat" name="etat" formControlName="etat" >
                  <option disabled selected value [ngValue]="null">Choisir l'etat...</option>
                  <option value="Retrait">remplis totalement</option>
                  <option value="Retrait">en cours</option>
                  <option value="Remplissage">non remplis</option>
                  </select>
  
                <div *ngIf="etat?.invalid && etat?.touched" class="text-danger">
                 Etat invalide !</div>
                <div *ngIf="etat?.valid && etat?.touched" class="text-success">
                  Etat valide !
                </div>
  
              </div> -->

          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cgu"   formControlName="cgu" required>
              <label class="form-check-label" for="cgu" *ngIf="msg4==1" style="color:red;">{{'p2' | translate}}</label>
              <label class="form-check-label" for="cgu" *ngIf="msg4==0" >{{'p2' | translate}}</label>
              <br>    <br>
              <span style="color:red;margin-bottom:45px;font-size:1.1em" *ngIf="msg != ''">{{'Please fill in all required fields' | translate}}</span>
              <div class="invalid-feedback">{{'p3' | translate}}</div>
            </div>
          </div>
          <button class="btn btn-primary" style="margin:11px" (click)=" onSubmit()"  type="submit">{{ "Send" | translate }}</button>
          <!-- close popup -->
          <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>

        </form>
      </div>



  